@import "./color.scss";

.headers{
    .headings{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: $purple;
        #login-text{
            margin-left: 75px ;
            font-size: xx-large;
            font-weight: 650;
            color: white;
            margin-bottom: 0;
        }
        #desc{
            margin-left: 75px ;
            font-size: medium;
            font-weight: 650;
            margin-bottom: 10%;
            color: white;
        }
    }
    .separators{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
        margin: 30px auto;
         width: 75%;
        .hseparator{
            border-bottom: solid grey 2px;
            width: 50%;
        }
        p{
            margin: 10px;
            font-weight: 600;
            color: grey;
        }
    }
}

@keyframes hover {
    from {
        background-color: $purple;
        color: white;
    }
    to {
        background-color: white;
        color: $purple;
    }
}

@keyframes not-hover {
    from {
        background-color: white;
        color: $purple;
    }
    to{
        background-color: $purple;
        color: white;
    }
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
        border: solid 1px black;
        border-radius: 20px;
        height: 35px;
        width: 350px;
        text-align: center;
        margin: 5px auto 20px auto;

        &:hover{
            border: solid 1px grey;
        }
    }
    button{
        width: 350px;
        height: 45px;
        border-radius: 20px;
        margin-top: 15px;
        background-color: $purple;
        color: white;
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-weight: 700;
        border: none;
        transition: 750ms;
        &:hover{
            border: solid $purple 3px;
            background-color: white;
            color: $purple;
            transition: 750ms;
        }
    }

    input[type=number] {
        -moz-appearance: textfield;
      }
}